---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="antialiased min-h-screen bg-[#17181C] text-zinc-300 p-8 font-mono flex justify-center"
  >
    <div class="w-full max-w-5xl border-x">
      {/* Navigation */}
      <Navigation />

      <slot />
    </div>
  </body>
</html>
