---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Page from "../components/Page.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Page>
  <div class="p-8">
    <h1 class="text-4xl font-bold mb-4 text-white">
      {title}
    </h1>
    <div class="mb-8 flex items-center justify-between text-sm text-gray-400">
      <span><FormattedDate date={updatedDate ?? pubDate} /></span>
    </div>

    <article
      class="prose prose-invert max-w-none prose-headings:text-white prose-a:text-white hover:prose-a:underline"
    >
      <slot />
    </article>
  </div>
</Page>
